<h1 mat-dialog-title class="dialog-title">Nova transação</h1>
<div mat-dialog-actions>
  <form class="dialog-container" [formGroup]="formTransacao">
    <div class="input-field">
      <input type="text" name="description" placeholder="Descrição" formControlName="descricao" />
    </div>
    <div class="input-field">
      <input type="number" name="price" placeholder="Preço" formControlName="preco" />
    </div>
    <div class="input-field">
      <input type="text" name="category" placeholder="Categoria" formControlName="categoria" />
    </div>

    <div mat-dialog-actions class="button-group">
      <div>
      <mat-chip-listbox aria-label="Fish selection" class="button">

        <mat-chip-option color="primary" (click)="setTipoTransacao(tipoTransacao.ENTRADA)">Entrada</mat-chip-option>
        <mat-chip-option color="warn" (click)="setTipoTransacao(tipoTransacao.SAIDA)">Saida</mat-chip-option>
      </mat-chip-listbox>
      <!-- <button mat-raised-button (click)="setTipoTransacao(tipoTransacao.ENTRADA)"
        style="background-color: #4169e1; color: white" >
        Entrada
      </button>
      <button mat-raised-button (click)="setTipoTransacao(tipoTransacao.SAIDA)"
        style="background-color: #4169e1; color: white">
        Saída
      </button> -->
    </div>
    </div>

    <div mat-dialog-actions class="button-group">
      <button mat-raised-button color="accent" (click)="cancel()">
        No Thanks
      </button>

      <button mat-raised-button  (click)="salvar()" [disabled]="!formTransacao.valid">
        Salvar
      </button>

    </div>
  </form>

</div>
