.pai{
  background-color: black;
  height: 40rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.filho{
  color: white;
  background-color: palevioletred;
  width: 250px;
  height: 250px;
  size: 125px;
}


