<p>table-information works!</p>

<div class="menu-botoes-pai">
  <div>
    <span class="material-symbols-outlined" style="cursor: pointer;"(click)="ordernarCrescente()">arrow_upward</span>
    <span class="material-symbols-outlined" style="cursor: pointer;"(click)="ordenarDecrescente()">arrow_downward</span>
    <button mat-raised-button color="primary" *ngIf="mostrarButton" (click)="mostrarMais()">Mostrar mais</button>
    <button mat-raised-button color="accent" *ngIf="!mostrarButton" (click)="mostrarMenos()"> Mostrar menos</button>
  </div>
</div>


<div *ngFor="let transacao of balanceInputFilho.transacao | slice:0:quantidadeTransacao" class="tabela">

  <table>
    <tbody>
      <tr>
        <td>{{transacao.categoria}}</td>
        <td [ngClass]="{'entrada': transacao.tipoTransacao === 'E', 'saida':transacao.tipoTransacao==='S'}">{{transacao.preco | currency:'BRL'}}</td>
        <td>{{transacao.categoria}}</td>
        <td>{{transacao.dataTransacao | date:'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>



    <!-- <p>{{transacao.categoria}}</p>
    <p>{{transacao.preco}}</p>
    <p>{{transacao.categoria}}</p>
    <p>{{transacao.dataTransacao| date:'dd/MM/yyyy'}}</p> -->


</div>


<!-- <div class="pai">
  <div class="filho">
    <p>1</p>
  </div>
  <div class="filho">
    <p>2</p>
  </div>
</div> -->
