.pai{
  background-color: black;
  height: 40rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.filho{
  color: white;
  background-color: palevioletred;
  width: 250px;
  height: 250px;
  size: 125px;
}

.menu-botoes-pai{

  display: flex;
  justify-content: end;
  padding: 2rem;
}


table {
  width: 80%;
  border-collapse: collapse; /* As bordas das células são colapsadas em uma única borda */
}
.tabela{
  padding-top: 2rem;
  display: flex;

  justify-content: center;
}

td {
  color: white;
  background-color: #3f51b5;
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
  max-width: 15px;
}

.entrada{
  background-color: #007ff4;
}
.saida{
  background-color: #cc283d;
}
