<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<p>
  <mat-toolbar color="primary">
      <span style="color: white;">MG Money</span>
      <span class="tool-spacer"></span>
      <button mat-raised-button style="background-color: #4169e1; color: white;" (click)="openDialog()">Nova transação</button>
  </mat-toolbar>
</p>

<div class="cards" *ngIf="balanceInput">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Entradas</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <span class="material-symbols-outlined"> payments </span>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>{{ balanceInput.conta.entrada | currency : "BRL" }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Saidas</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <span class="material-symbols-outlined"> mintmark </span>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{ balanceInput.conta.saida | currency : "BRL" }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Total</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <span class="material-symbols-outlined"> attach_money </span>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{ balanceInput.conta.total | currency : "BRL" }}</mat-card-content
    >
  </mat-card>
</div>
