
.tool-spacer{
  flex: 1 1 auto;
}
.card {
  max-width: 500px;
  margin-bottom: 8px;
  width: 30rem;

}

.cards{
  display: flex;
  gap: 2rem;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
}
